#navbar{
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0px;
    text-align: center;
    background-color: cadetblue
}
body{
    margin: 0;
}
.nlink{
    padding:10px 20px;
    text-decoration-line: none;
    color: whitesmoke;
    font-size: 24px;
    font-weight: 500;
    font-stretch: semi-expanded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
.nlink:hover{
    color: white;
}

h1{
    text-align: center;
    letter-spacing: 20px;
    top:50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;margin-bottom: 0;
    color: white;
     -webkit-text-stroke: .5px whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
.container1{
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
table{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.icon_list{
    padding: 15px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    text-align: center;
    color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}